<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bold;">Revisar Abastecimiento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of abastecimiento; let i = index">
        <ion-card>
          <img [src]="item.img">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-chip color="danger" style="margin-left: 8%;">
                <ion-label style="font-weight: bold;">{{ item.fecha }}</ion-label>
              </ion-chip>
              <ion-chip *ngIf="item.size !=''" color="success" style="margin-left: 8%;">
                <ion-label style="font-weight: bold;">{{ item.size }}</ion-label>
              </ion-chip>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-item style="padding-right: 0px;">
                    <ion-button shape="round" fill="outline" expand="full" style="width: 100%; height:80%;" (click)="tomarFoto(i)">Tomar Foto
                      <ion-icon slot="start" name="camera"></ion-icon>
                    </ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item style="padding-right: 0px;">
                    <ion-button shape="round" fill="outline" expand="full" style="width: 100%; height: 80%;" (click)="seleccionarFoto(i)">Seleccionar Foto
                      <ion-icon slot="start" name="image"></ion-icon>
                    </ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-col size="4">
                    <ion-label style="font-size: 15px;">Operador</ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-label style="font-size: 15px; font-weight: bold;">{{ item.operador }}</ion-label>
                  </ion-col>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-col size="5">
                    <ion-label style="font-size: 15px;">Placa:</ion-label>
                  </ion-col>
                  <ion-col size="7">
                    <ion-label style="font-weight: bold; font-size: 15px;">{{ item.placa }}</ion-label>
                  </ion-col>
                </ion-item>
              </ion-col>
              <ion-col size="5" style="margin-left: 5%;">
                <ion-item>
                  <ion-label position="floating" style="font-weight: bold; font-size: 15px;">Galonaje</ion-label>
                  <ion-input type="tel" [(ngModel)]="abastecimiento[i].galonaje"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6" style="margin-left: 3%;">
                <ion-item>
                  <ion-label position="floating" style="font-weight: bold; font-size: 15px;">Kilometraje</ion-label>
                  <ion-input type="tel" [(ngModel)]="abastecimiento[i].kilometraje"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" style="margin-left: 2%;">
        <ion-button color="primary" round icon-start (click)="enviar()">
          SIGUIENTE
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
