.row-header {
    background-color: grey;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 16px;
    padding-bottom: 16px;
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
.row-item {
    background-color: #f5f5f5;
    border-bottom: 1px solid #fff;
    padding-top: 12px;
    padding-bottom: 11px;
    &:hover {
      background-color: #D0D0D0;
      cursor: pointer;
    }
  }
  .row-item-col {
    border-right: 1px solid #fff;
    font-size: 0.8rem;
    text-align: center;
  }