<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bold;">Solicitud Abaste</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center; margin-top: 10%;">
          <ion-item>
            <ion-label>OPERADOR</ion-label>
            <ionic-selectable
              item-content
              [(ngModel)]="operado"
              itemTextField="placaVeh"
              itemValueField="idVehiculo"
              [items]="operador"
              [canSearch]="true"
              (onChange)="operadorChange($event)">
            </ionic-selectable>
          </ion-item>
          <ion-item>
            <ion-label>PLACA</ion-label>
            <ionic-selectable
              item-content
              [(ngModel)]="plac"
              itemTextField="placaVeh"
              itemValueField="idVehiculo"
              [items]="placa"
              [canSearch]="true"
              (onChange)="placaChange($event)">
            </ionic-selectable>
          </ion-item>
        </div>
        <div style="margin-top: 5%;">
        <ion-col size="6">
          <ion-button color="primary" (click)="agregarAbs()">
            Agregar
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="cont_ > 0 ">
          <ion-button color="success" (click)="solicitarAbs(crud.ABASTECIMIENTO)">
            Solicitar
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-col>
        </div>
      </ion-col>
    </ion-row>
    <div style="margin-top: 5%;">
      <ion-row class="row-header">
        <ion-col size="4" class="row-item-col">
          Operador
        </ion-col>
        <ion-col size="4" class="row-item-col">
          Placa
        </ion-col>
        <ion-col size="4" class="row-item-col">
          Eliminar
        </ion-col>
      </ion-row>
      <div class="content-row-item" style="height: 80vh;">
        <ion-content>
          <ion-row class="row-item" *ngFor="let abs of crud.ABASTECIMIENTO">
            <ion-col size="4" class="row-item-col">
              {{ abs.Descripcion_Operador }}
            </ion-col>
            <ion-col size="4" class="row-item-col">
              {{ abs.Descripcion_Placa }}
            </ion-col>
            <ion-col size="4" class="row-item-col">
              <ion-button color="danger" (click)="eliminarItem(abs.id_abastecimiento)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-content>
      </div>
      <!--<div class="content-row-item">
        <ion-button color="primary" (click)="solicitarAbs()">
          Solicitar
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </div>-->
    </div>
  </ion-grid>
</ion-content>
