<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center; margin-top: 60%;">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input style="color: black;" (click)="resetFields()" (keyup.enter)="login()" [(ngModel)]="usuario" type="text"></ion-input>
            </ion-item>
            <p class="color-azul" *ngIf="text_error_usuario.length > 0">{{ text_error_usuario }}</p>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input style="color: black;" (click)="resetFields()" (keyup.enter)="login()" [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
            <p class="color-azul" *ngIf="text_error_password.length > 0">{{ text_error_password }}</p>
          </ion-list>
          <p class="color-azul">{{ text_error_general }}</p>
          <div>
            <ion-button block color="primary" (click)="login()">
              Ingresar
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
