<ion-app>
  <ion-menu side="start" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label>Opciones</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="openPage( home )" style="font-weight: bold;">
          <ion-icon name="home" slot="start" color="primary"></ion-icon>
          <ion-label>Volver al Inicio</ion-label>
        </ion-item>
        <ion-item (click)="openPage( frm_combustible )" style="font-weight: bold;">
          <ion-icon name="color-fill" slot="start" color="primary"></ion-icon>
          <ion-label>Solicitud Abastecimiento</ion-label>
        </ion-item>
        <ion-item (click)="openPage( frm_revisar_abastecimiento )" style="font-weight: bold;">
          <!--<ion-icon name="color-fill" slot="start" color="primary"></ion-icon>-->
          <ion-icon name="document-text" slot="start" color="primary"></ion-icon>
          <ion-label>Revisar Abastecimiento</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
