<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;">Combustibles App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <div>
        <img src="../../assets/imgs/tl_logo.png" style="width: 50%; opacity: 0.2; margin-top: 60%; margin-left: 23%;">
      </div>
    </ion-row>
  </ion-grid>
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>-->
</ion-content>
